@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
body {
    font-family: "Source Sans Pro"; 
    text-align: center; 
}

body, textarea {background-color: #1e1f22; color: #bfbfbf;}

#divErrors {
    background-color: darkmagenta;
    border: 1px #000000 solid;
    color: white;
    display: none;
    margin-top: 0.5em;
}

#divStatus { 
    margin-top: 4em;
}

#divLogin {
    margin-top: 1em;
}

button:focus {
    outline: none;
}

#spnName {
    size: 0.25px;
}

#btnLogout {
    color: #ffffff;
    height: 2em;
    width: 3em;
}

#divTrigger {
    margin-bottom: 2em;
}

#btnTrigger { 
    width: 12.5em;
    height: 8.3em;
    border: 0;
}

button {
    background: linear-gradient(to bottom,  rgba(68,68,68,1) 0%,rgba(103,103,103,1) 50%,rgba(68,68,68,1) 100%);
}
.buttonActive, button:active {
    background: linear-gradient(to bottom,  rgba(103,103,103,1) 0%,rgba(68,68,68,1) 50%,rgba(82,82,82,1) 100%);
}


/* ------------------------------------------------------------------------------------ Custom, iPhone Retina */ 
@media only screen and (min-width: 320px) {
    body {
        font-size: 48px;
    }
}

/* ------------------------------------------------------------------------------------ Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* ------------------------------------------------------------------------------------ Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
}

/* ------------------------------------------------------------------------------------ Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    body {
        font-size: 18px;
    }
}

/* ------------------------------------------------------------------------------------ Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}